
#main {
    padding: 300px;
}

#btn-next {
    position: absolute;
    left: 50px;
    top: 200px;
}

.row {
    font-size: 0;
    padding-left: 10px;
    position: relative;
    height: 100px;
}

.item {
    /*transition: all 0.333s linear;*/
    position: absolute;
    padding-top: 2px;
    width: 18px;
    height: 40px;
    border-top: 2px solid #999;
    background-color: #ccc;
    color: #fff;
    text-align: center;
    font-size: 10px;
    font-family: 'PT sans';
    z-index: 1;
    bottom: 0;
}


.cursor {
    background-color: #F02D12;
    width: 18px;
    height: 18px;
    position: absolute;
    bottom: -20px;
    left: 19px;
}

.foo {
    height: 30px;
    width: 30px;
    background-color: #eee;
    position: absolute;
    left: 50px;
    padding: 5px;
    box-sizing: border-box;
}

#foo1 { top: 170px; }
#foo2 { top: 205px; }
#foo3 { top: 240px; }
#foo4 { top: 275px; }
#foo5 { top: 310px; }